QTableView {
    alternate-background-color: #FAFAFA;
    margin: 0px;
}

QTableView::item:selected {
    background: #D5EDFE;
    color: #000000;
    border: none;
}

QHeaderView::section {
    background-color: rgb(255,255,255);
    border: none;
    height: 32px;

    font-style: normal;
    font-weight: normal;
}

QHeaderView::section:horizontal {
    border-bottom: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}